    @import"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap";
    body {
        background-color: thistle;
    }
    
    * {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600 \[[\]]
    }
    
    .button {
        width: 20%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin-left: 30px;
        margin-top: 30px;
        background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 100%, #895cf2 100%);
        outline: none;
        border: 0;
        border-radius: 30px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .button:hover {
        transition: 0.1s;
        padding: 11px;
        box-shadow: 5px 5px 10px rgba(50, 50, 93, 0.50), 10px 10px 10px rgba(0, 0, 0, 0.08);
        text-decoration: unset;
        background-image: linear-gradient(to right, #895cf2 80%, #ffabf4 50%, #895cf2 20%);
    }
